footer {
  align-items: center;
  background-color: $main-dark;
  display: flex;
  flex-direction: column;
}

footer p {
  color: $font-light;
  margin-top: 1em;
}

footer .external-nav {
  margin: 1em;
}

footer .external-nav a {
  color: $font-light;
  font-size: .9em;
}
