footer {
  align-items: center;
  background-color: $main-dark;
  display: flex;
  flex-direction: column;
  
  p {
    color: $font-light;
    margin-top: 1em;
  }

  .external-nav {
    margin: 1em;
  
    a {
      color: $font-light;
      font-size: .9em;
    }
  }
}
