footer {
  grid-column: 1/25;
}

.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 20em;
  grid-row-gap: 3em;
}


#projects, #contact {
  grid-column: 2/24;
}

#about {
  grid-area: 8/2/14/24;
}

#home {
  grid-area: 1/1/8/25;
}

#skills {
  grid-area: 14/2/20/24;
}

.title {
  grid-column: 1/3;
}
