#skills {
  background-color: $main-light;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,.15);
  color: $font-dark;
  padding-bottom: 1em;
  text-align: center;
}

#skills:focus {
  outline: none !important;
}

#skills img {
  height: 80px;
  padding: 10px;
}
