@import 'fonts.scss';
@import 'colors.scss';
@import 'grid.scss';
@import 'home.scss';
@import 'about.scss';
@import 'skills.scss';
@import 'projects.scss';
@import 'modal.scss';
@import 'contact.scss';
@import 'footer.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: $main;
  height: 100%;
  overflow-x: hidden;
}

.title {
  padding: 1.5em 0 1.5em 0;
}
