$border:     lightgrey;
$border-dark: #141414;

$font:       #666;
$font-dark:  #141414;
$font-light: #FFFFFF;

$loader-inner: rgb(221, 0, 241);
$loader-outer: rgb(0, 47, 255);

$main:       #F5F5F5;
$main-dark:  #141414;
$main-light: #FFFFFF;

$skillbar: #000000;
