#about {
  align-items: center;
  background-color: $main-light;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,.15);

  &:focus {
    outline: none !important;
  }

  img {
    border-radius: 62.5px;
    height: 125px;
    width: 125px;
  }

  h3 {
    color: $font-dark;
    padding-bottom: 1em;
  }
}

.content {
  margin: 2em;
  color: $font;

  @media (min-width: 900px) {
    margin: 2em 0 2em 0;
  }
}

// .soft-skills {
//   align-self: flex-start;
//   margin-left: 2em;
//   padding-bottom: 1em;

//   div {
//     padding-bottom: 1em;
//   }

//   p {
//     padding-bottom: .5em;
//   }
// }
