.external-nav a {
  color: $font-dark;
  padding: 5px;
  text-decoration: none;
}

#home {
  align-items: center;
  background-image: url('./../docs/cover.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 2em;
    color: $font-dark;
    margin-bottom: 14px;
    
    @media only screen and (min-width: 370px) {
      font-size: 3em;
    }
  } 
}

.home-nav {
  margin-bottom: 1em;
  color: $font-dark;

  a {
    text-decoration: none;
    color: $font-dark;
  }
}
