.closeBtn {
  color: $font;
  font-size: 30px;
  float: right;
  margin: -35px 0 0 0;

  &:hover, &:focus {
    color: $font-dark;
    cursor: pointer;
    text-decoration: none;
  }
}

@keyframes modalOpen {
  from { opacity: 0 }
  to { opacity: 1 }
}

.modal {
  animation-name: modalOpen;
  animation-duration: .5s;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  height: 100%;
  left: 0;
  overflow: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-container {
  background-color: $main;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17);
  margin: 30% auto;
  width: 80%;

  @include for-size(tablet-portrait-up) {
    margin: 10% auto;
    width: 70%;
  }

  @include for-size(tablet-landscape-up) {
    margin: 10% auto;
    width: 50%;
  }

  @include for-size(desktop-up) {
    margin: 5% auto;
    width: 40%;
  }
}

.modal-content p {
  line-height: 1.5;
  padding: 1em 2em 2em 2em;
  text-align: left;
  color: $font;
}

.modal-title {
  padding: 1em 0 0 2em;
  text-align: left;
}
